.banner1 {
    background-image: url(https://pbs.twimg.com/media/Ey16tKLVgAIftzv?format=jpg&name=large);
    min-height: auto;
    background-repeat: repeat;
}

.banner2 {
    background-image: url(https://pbs.twimg.com/media/Ey16tKXVgAArk3z?format=jpg&name=large);
    min-height: auto;
    background-repeat: repeat;
}

.card-body {
    display: flex;
    flex-direction: column;
  }
  
  button.btn {
    margin-top: auto;
  }

h2,
.card,
.bannerText2 {
    text-align: center;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
    height: 100%;
    width: auto;
}

.carousel-item {
    text-align: center;
}

.carousel {
    height: 400px;
}

.carousel-inner img {
    height: auto;
    width: 100%;
}

footer {
    border-top: 1px solid lightgray;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}

.bottom {
    text-align: center;
}

.fa {
    padding-top: 20px;
    padding-right: 40px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: #1d4b6d;
}

ul.black {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
.blueFont {
    color: #1d4b6d;

}

a:hover {
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

